/*
 * Cover
 */

/* Scroll fix to only make background cover if window is larger than image */
@media (min-width: 2014px) {
 html {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.cover {
    padding: 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
.top-content {
    margin-top: 0;
}
.masthead {
    background: none;
    position: relative;
    top: 0;
    width: 100%;
}

.masthead-nav > li > a {
    padding: 8px 12px;
}
.masthead-nav > li + li {
    margin-left: 0px;
}
.top-wrapper {
    z-index: 999;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
/*
 * Logo
 */

.logo-mark {
    float: none;
    height: 133px;
    margin: 126px auto 0 auto;
    width: 117px;
}
.masthead-brand {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.logo-mark a span {
    height: 133px;
    margin-top: -133px;
    width: 117px;
}
.logo-mark .bl {
    background-image: url(../img/mark-big-bl.png);
}
.logo-mark .b {
    background-image: url(../img/mark-big-b.png);
}
.logo-mark .tl {
    background-image: url(../img/mark-big-tl.png);
}
.logo-mark .br {
    background-image: url(../img/mark-big-br.png);
}
.logo-mark .t {
    background-image: url(../img/mark-big-t.png);
}
.logo-mark .tr {
    background-image: url(../img/mark-big-tr.png);
}
/*.top-content {
    background-color: rgb(241,241,241);
    background-color: rgba(241,241,241,0.9);
    -moz-box-shadow:    0px 0px 20px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 20px 10px rgba(0,0,0,0.2);
}*/

.cover-heading {
    font-size: 28px;
    margin: 0 0 20px 0;
}
.cover h2 {
    /*font-family: 'Comfortaa', Verdana, cursive;*/
    font-size: 17px;
    line-height: 1.4em;
    text-transform: none;
}
.cover p {
    font-size: 17px;
    line-height: 1.4em;
}
.quotes {
    text-align: center;
}
.quotes #slideshow {
    position: relative;
    width: 100%;
    height: 360px;
}
.quotes #slideshow > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.quotes img {
    padding: 0;
}
.quotes .quote-text p.quote {
    float: left;
}
.quotes .quote-text a {
    float: right;
}
@media (min-width: 664px) {
    .quotes {
        background: url(../img/quotes.jpg) bottom center;
        height: 348px;
        text-align: left;
    }
    .quotes .inner-rl {
        padding-top: 87px;
    }
    .quotes .col-md-5 {
        width: 41.66666667%;
    }
    .quotes .col-md-7 {
        width: 58.33333333%;
    }
    .quotes #slideshow {
        margin: 0 auto;
        position: relative;
        width: 605px;
        height: 174px;
    }
    .quotes .quote-text {
        background-color: rgb(241, 241, 241);
        background-color: rgba(241, 241, 241, 0.8);
        height: 174px;
        padding: 40px 20px 40px 0;
    }
    .quotes .quote-text:before, .quotes .quote-text:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0px;
    }
    .quotes .quote-text:before {
        border-right: 45px solid rgba(241,241,241,0.8);
        border-top: 87px solid transparent;
        border-bottom: 87px solid transparent;
        left: -45px;
    }
}
@media (min-width: 768px) {
    /* Start the vertical centering */
    
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    
    .mastfoot, .page-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
    .masthead-nav {
        float: none;
        position: fixed;
        top: 10px;
        right: 40px;
    }
    .masthead-nav > li > a, .masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
        background-color: rgb(230, 230, 230);
        background-color: rgba(230, 230, 230, 0.5);
    }
    .site-wrapper {
        background-color: rgb(241, 241, 241);
        background-color: rgba(241, 241, 241, 0.75);
/*        background: url(../img/bg_cover.png) no-repeat bottom center;
        background: url(http://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg) no-repeat bottom center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 680px;
*/    }
    .logo {
        display: block;
        margin: 0 auto;
        width: 170px;
    }
    .masthead {
        position: absolute;
    }
    code {
        min-height: 230px;
    }
    .cover-heading {
        font-size: 38px;
        clear: both;
    }
    .cover h2 {
        font-size: 26px;
    }
    .cover p {
        font-size: 24px;
    }
    .quotes .quote-text {
        padding: 20px 10px;
    }
    .quotes .quote-text:after {
        border-left: 45px solid rgba(241,241,241,0.8);
        border-top: 87px solid transparent;
        border-bottom: 87px solid transparent;
        right: -45px;
    }
}
@media (min-width: 992px) {
    .mastfoot, .page-container {
        width: 700px;
    }
    .site-wrapper {
        background-color: rgb(241, 241, 241);
        background-color: rgba(241, 241, 241, 0.75);
        background: url(../img/world.png) no-repeat center center fixed rgba(241, 241, 241, 0.75);
    }
    .logo-mark {
        margin: 0px auto 0 auto;
    }
}
/*@media (min-width: 768px) and (max-height: 760px) {
    .logo {
        margin-top: 70px;
        width: 206px;
    }
    .logo-mark {
        float: left;
        height: 42px;
        margin: 66px 12px 0 0;
        width: 48px;
    }
    .logo-mark a span {
        height: 42px;
        margin-top: -42px;
        width: 48px;
    }
    .masthead-brand {
        margin-top: 30px;
        width: auto;
    }
    .logo-mark .bl {
        background-image: url(../img/mark-bl.png);
    }
    .logo-mark .b {
        background-image: url(../img/mark-b.png);
    }
    .logo-mark .tl {
        background-image: url(../img/mark-tl.png);
    }
    .logo-mark .br {
        background-image: url(../img/mark-br.png);
    }
    .logo-mark .t {
        background-image: url(../img/mark-t.png);
    }
    .logo-mark .tr {
        background-image: url(../img/mark-tr.png);
    }
}*/
