/*
 * Cover
 */

html {
    background-color: #d5d4d2;
	background: url(../img/bg_logo.png) no-repeat top center fixed;
	  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.cover {
  padding: 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.top-content {
    margin-top: 0;
}

.masthead {
    background: none;
    position: relative;
    z-index: 1;
}
.masthead-nav > li > a {
    padding: 8px 12px;
}
.masthead-nav > li + li {
    margin-left: 0px;
}
.top-wrapper {
    z-index: 999;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


/*
 * Logo
 */
 

.logo-mark {
    float: none;
	height: 117px;
	margin: 126px auto 0 auto;
	width: 133px;
}
.masthead-brand {
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.logo-mark a span {
	height: 117px;
	margin-top: -117px;
	width: 133px;
}
.logo-mark .bl {
	background-image: url(../img/mark-big-bl.png);
}
.logo-mark .b {
	background-image: url(../img/mark-big-b.png);
}
.logo-mark .tl {
	background-image: url(../img/mark-big-tl.png);
}
.logo-mark .br {
	background-image: url(../img/mark-big-br.png);
}
.logo-mark .t {
	background-image: url(../img/mark-big-t.png);
}
.logo-mark .tr {
	background-image: url(../img/mark-big-tr.png);
}

/*.top-content {
    background-color: rgb(241,241,241);
    background-color: rgba(241,241,241,0.9);
    -moz-box-shadow:    0px 0px 20px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 20px 10px rgba(0,0,0,0.2);
}*/

.cover-heading {
    font-size: 28px;
    margin: 0 0 20px 0;
}

.cover h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 17px;
	line-height: 1.4em;
}

.cover p {
	font-size: 17px;
	line-height: 1.4em;
}


@media (min-width: 768px) {

      /* Start the vertical centering */
      .site-wrapper-inner {
        vertical-align: middle;
      }
      /* Handle the widths */
      .mastfoot,
      .page-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
      }
    .masthead-nav {
        float: none;
        position: fixed;
        top: 10px;
        right: 40px;
    }
    .masthead-nav > li > a, .masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
        background-color: rgb(230,230,230);
        background-color: rgba(230,230,230,0.5);
    }

    .site-wrapper {
      background-color: rgb(241, 241, 241);
      background-color: rgba(241, 241, 241, 0.75);
      background: url(../img/bg_cover.png) no-repeat bottom center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        min-height: 680px;
    }
    
    .logo {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
    .masthead {
        position: absolute;
    }
    .top-content {
        margin-top: 80px;
    }
    code {
        min-height: 230px;
    }
   .cover-heading {
        font-size: 38px;
    }
    .cover h2 {
	    font-size: 26px;
    }
    .cover p {
	font-size: 24px;
    }
}

@media (min-width: 992px) {
  .mastfoot,
  .page-container {
    width: 700px;
  }

    .site-wrapper {
      background-color: rgb(241, 241, 241);
      background-color: rgba(241, 241, 241, 0.75);
/*      background: url(../img/bg_cover.png) no-repeat bottom center; */
	  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .logo-mark {
	    margin: 180px auto 0 auto;
    }
}

@media (min-width: 768px) and (max-height: 760px) {
    .logo {
	margin-top: 70px;
        width: 206px;
    }
    .logo-mark {
        float: left;
	    height: 42px;
	    margin: 66px 12px 0 0;
        width: 48px;
    }
    .logo-mark a span {
	    height: 42px;
	    margin-top: -42px;
	    width: 48px;
	}
    .masthead-brand {
        margin-top: 30px;
	    width: auto;
    }
  
    .logo-mark .bl {
	    background-image: url(../img/mark-bl.png);
    }
    .logo-mark .b {
	    background-image: url(../img/mark-b.png);
    }
    .logo-mark .tl {
	    background-image: url(../img/mark-tl.png);
    }
    .logo-mark .br {
	    background-image: url(../img/mark-br.png);
    }
    .logo-mark .t {
	    background-image: url(../img/mark-t.png);
    }
    .logo-mark .tr {
	    background-image: url(../img/mark-tr.png);
    }
}
