body {
	height: auto;
	text-align: left;
}

.d-header {
	background-color: rgb(238, 238, 238);
}

.d-header #site-logo.logo-big {
	max-height: none;
	margin-top: -14px;
}
.d-header #site-logo.logo-small {
	max-height: none;
}
