body {
	height: auto;
	text-align: left;
}

.d-header {
	box-shadow: none;
}

.d-header #site-logo.logo-big,
.d-header #site-logo.logo-small {
	max-height: none;
}

.topic-area {
	padding: 10px 25px;
}
