@-moz-keyframes pulse25 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.2;
    }
}
@-webkit-keyframes pulse25 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.2;
    }
}
@-ms-keyframes pulse25 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.2;
    }
}
@keyframes pulse25 {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0.2;
    }
}
@-moz-keyframes pulse50 {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.6;
    }
}
@-webkit-keyframes pulse50 {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.6;
    }
}
@-ms-keyframes pulse50 {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.6;
    }
}
@keyframes pulse50 {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.6;
    }
}
@-moz-keyframes pulse60 {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0.2;
    }
}
@-webkit-keyframes pulse60 {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0.2;
    }
}
@-ms-keyframes pulse60 {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0.2;
    }
}
@keyframes pulse60 {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0.2;
    }
}
.logo {
    float: left;
    margin: 0 auto;
    width: 100%;
}
.logo-inner {
    margin: 0 auto;
    width: 210px;
}
.logo-mark {
    display: block;
    float: left;
    height: 42px;
    margin: 62px 12px 0 0;
    width: 48px;
}
.masthead-brand {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.logo-mark a span {
    display: block;
    height: 48px;
    margin-top: -48px;
    width: 42px;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.logo-mark .bl {
    background-image: url(../img/mark-bl.png);
    -moz-animation-name: pulse25;
    -webkit-animation-name: pulse25;
    -ms-animation-name: pulse25;
    animation-name: pulse25;
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.logo-mark a:hover .bl {
    opacity: 0.6;
}
.logo-mark .b {
    background-image: url(../img/mark-b.png);
    -moz-animation-name: pulse25;
    -webkit-animation-name: pulse25;
    -ms-animation-name: pulse25;
    animation-name: pulse25;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
}
.logo-mark .tl {
    background-image: url(../img/mark-tl.png);
    -moz-animation-name: pulse50;
    -webkit-animation-name: pulse50;
    -ms-animation-name: pulse50;
    animation-name: pulse50;
    -moz-animation-duration: 4.5s;
    -webkit-animation-duration: 4.5s;
    -ms-animation-duration: 4.5s;
    animation-duration: 4.5s;
}
.logo-mark a:hover .b, .logo-mark a:hover .tl {
    opacity: 0.5;
}
.logo-mark .br {
    background-image: url(../img/mark-br.png);
    -moz-animation-name: pulse60;
    -webkit-animation-name: pulse60;
    -ms-animation-name: pulse60;
    animation-name: pulse60;
    -moz-animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -ms-animation-duration: 6s;
    animation-duration: 6s;
}
.logo-mark .t {
    background-image: url(../img/mark-t.png);
    -moz-animation-name: pulse60;
    -webkit-animation-name: pulse60;
    -ms-animation-name: pulse60;
    animation-name: pulse60;
    -moz-animation-duration: 9s;
    -webkit-animation-duration: 9s;
    -ms-animation-duration: 9s;
    animation-duration: 9s;
}
.logo-mark .tr {
    background-image: url(../img/mark-tr.png);
}
@media (min-width: 768px) {
    .logo {
        float: none;
        margin: 0;
        width: auto;
    }
    .logo-inner {
        width: auto;
    }
}
