.fork-github,
.masthead-nav,
.foot {
	display: none;
}
.site-wrapper {
	background: none;
}
.top-content {
	box-shadow: none;
	background-color: transparent;
}
.slide {
	min-height: 600px;
	padding: 160px 0;
	text-align: left;
}
.logo {
	margin-top: 200px;
}
.logo-mark {
    float: none;
	height: 117px;
	margin: 126px auto 0 auto;
	width: 133px;
}
.masthead-brand {
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.logo-mark a span {
	height: 117px;
	margin-top: -117px;
	width: 133px;
}
.logo-mark .bl {
	background-image: url(../img/mark-big-bl.png);
}
.logo-mark .b {
	background-image: url(../img/mark-big-b.png);
}
.logo-mark .tl {
	background-image: url(../img/mark-big-tl.png);
}
.logo-mark .br {
	background-image: url(../img/mark-big-br.png);
}
.logo-mark .t {
	background-image: url(../img/mark-big-t.png);
}
.logo-mark .tr {
	background-image: url(../img/mark-big-tr.png);
}
