

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 479px) {
        .responsive .container { width: 85%; }


    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .responsive .container { width: 420px; }

    }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 960px */

    @media only screen and (min-width: 960px) {
        .responsive .container { width: 920px; }
        
        .pad20 {
	        padding: 20px;
        }
        .padr40 {
	        padding-right: 40px;
        }
        .one-third {
	        width: 33%;
        }
        .two-third {
	        width: 67%;
        }
        .one-half {
	        width: 50%;
        }
        .two-fifth {
	        width: 40%;
        }
        .three-fifth {
	        width: 60%;
        }
        .col3 {
	        min-height: 200px;
	        width: 33%;
        }
        .centered {
	        margin: 0 auto;
	        width: 800px;
	        max-width: 90%;
        }
        .team {
	        border-left: 1px solid rgb(220,220,220);
	        border-top: none;
	        min-height: 455px;
	        padding: 20px 0;
	        text-align: center;
	        width: 24.5%;
        }
        .team.last {
	        border-right: 1px solid rgb(220,220,220);
        }
        .team img, .team h3 {
	        float: none;
	        height: auto;
	        margin-right: 0px;
        }
}
    
/* #Bigger size 1140px
================================================== */

    /* Note: Design for a width of 1140px */

    @media only screen and (min-width: 1200px) {        
        .responsive .container  { width: 1140px; }
    }
