@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@-moz-keyframes pulse25 { from { opacity: 0.25; } to { opacity: 0.1; }	}
@-webkit-keyframes pulse25 { from { opacity: 0.25; } to { opacity: 0.1; }	}
@-ms-keyframes pulse25 { from { opacity: 0.25; } to { opacity: 0.1; }	}
@keyframes pulse25 { from { opacity: 0.25; } to { opacity: 0.1; }	}

@-moz-keyframes pulse50 { from { opacity: 0.5; } to { opacity: 0.1; }	}
@-webkit-keyframes pulse50 { from { opacity: 0.5; } to { opacity: 0.1; }	}
@-ms-keyframes pulse50 { from { opacity: 0.5; } to { opacity: 0.1; }	}
@keyframes pulse50 { from { opacity: 0.5; } to { opacity: 0.1; }	}

@-moz-keyframes pulse60 { from { opacity: 0.6; } to { opacity: 0.1; }	}
@-webkit-keyframes pulse60 { from { opacity: 0.6; } to { opacity: 0.1; }	}
@-ms-keyframes pulse60 { from { opacity: 0.6; } to { opacity: 0.1; }	}
@keyframes pulse60 { from { opacity: 0.6; } to { opacity: 0.1; }	}

body {
	background-color: rgb(241,241,241);
	margin: 0;
	padding: 0;
}
body, input, h1, h2, h3, h4, h5 {
	color: rgb(14,14,14);
	font-family: 'Lato', sans-serif;
}
body, input {
	font-size: 18px;
	line-height: 1.7em;
}
::-moz-selection {background-color: rgb(55,135,190);}
::-webkit-selection {background-color: rgb(55,135,190);}
::selection {background-color: rgb(55,135,190);}
::-moz-selection {color: #f8f8f8;}
::-webkit-selection {color: #f8f8f8;;}
::selection {color: #f8f8f8;;}
.container {
	margin: 0 auto;
}
span.brand {
	font-family: 'Comfortaa', cursive;
}
a {
	color: rgb(55,135,190);
	border-bottom: 2px solid rgb(55,135,190);
	text-decoration: none;
}
a:hover {
	color: rgb(90,160,210);
}
input {
	float: left;
	padding: 10px 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-right: 5px;
	font-size: 18px;
}
input[type="button"],
input[type="submit"],
.blue {
	background-color: rgb(55,135,190);
	color: rgb(240,240,240);
	background-image: -webkit-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -moz-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -o-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: linear-gradient(to bottom left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
}
input[type="button"],
input[type="submit"] {
	border-width: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: rgb(90,160,210);
	color: rgb(255,255,255);
}
input[type="text"],
input[type="email"] {
	border: 1px solid #E7E7E7;
}
.blue h1, .blue h2, .blue h3, .blue h4, .blue h4 {
	color: rgb(240,240,240);
	margin-top: 0;
}
.blue a {
	color: #96c8e6;
	border-bottom: 2px solid #96c8e6;
}
.blue a:hover {
	color: white;
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
}
.header {
}	
.logo {
	margin: 124px auto 20px auto;
	width: 201px;
}
.mark {
	margin: 0 0 20px 52px;
}
.mark a span {
	display: block;
	height: 84px;
	margin-top: -84px;
	width: 96px;
	
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.mark .bl {
	background-image: url(../img/mark-bl.png);
	
    -moz-animation-name: pulse60;
    -webkit-animation-name: pulse60;
    -ms-animation-name: pulse60;
    animation-name: pulse60;
	  
    -moz-animation-duration: 12s;
    -webkit-animation-duration: 12s;
    -ms-animation-duration: 12s;
    animation-duration: 12s;
}
.mark a:hover .bl {
	opacity: 0.6;
}
.mark .b {
	background-image: url(../img/mark-b.png);
	
    -moz-animation-name: pulse50;
    -webkit-animation-name: pulse50;
    -ms-animation-name: pulse50;
    animation-name: pulse50;
	  
    -moz-animation-duration: 8s;
    -webkit-animation-duration: 8s;
    -ms-animation-duration: 8s;
    animation-duration: 8s;
}
.mark .tl {
	background-image: url(../img/mark-tl.png);
	
    -moz-animation-name: pulse50;
    -webkit-animation-name: pulse50;
    -ms-animation-name: pulse50;
    animation-name: pulse50;
	  
    -moz-animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -ms-animation-duration: 6s;
    animation-duration: 6s;
}
.mark a:hover .b, .mark a:hover .tl {
	opacity: 0.5;
}
.mark .br {
	background-image: url(../img/mark-br.png);
	
    -moz-animation-name: pulse25;
    -webkit-animation-name: pulse25;
    -ms-animation-name: pulse25;
    animation-name: pulse25;
	  
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -ms-animation-duration: 4s;
    animation-duration: 4s;
}
.mark .t {
	background-image: url(../img/mark-t.png);
	
    -moz-animation-name: pulse25;
    -webkit-animation-name: pulse25;
    -ms-animation-name: pulse25;
    animation-name: pulse25;
	  
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
}
.mark a:hover .br, .mark a:hover .t {
	opacity: 0.25;
}
.mark .tr {
	background-image: url(../img/mark-tr.png);
}
span.brand {
	font-size: 33px;
}
.section {
	float: left;
	padding: 40px 0;
	width: 100%;
}
.section.nopad {
	padding: 0;
}
.light {
	background-color: rgb(248, 248, 248);
	border-bottom: 1px solid rgb(231, 231, 231);
	border-top: 1px solid rgb(231, 231, 231);
}
.blue {
}
.footer, .footer-end {
	float: left;
	width: 100%;
}
.footer-end {
	padding: 20px 0;
}
.row {
	float: left;
	width: 100%;
}
.pad20 {
	padding: 20px;
}
.one-third {
	float: left;
	width: 33%;
}
.two-third {
	float: left;
	width: 67%;
}
.one-half {
	float: left;
	width: 50%;
}
.two-fifth {
	float: left;
	width: 40%;
}
.three-fifth {
	float: left;
	width: 60%;
}
.col3 {
	float: left;
	min-height: 200px;
	width: 33%;
}
.centered {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	max-width: 90%;
}
.clone-us {
	float: left;
	font-size: 1.2em;
	padding: 10px;
}
code {
	background-color: rgb(72,72,72);
	color: rgb(240,240,240);
	background-image: -webkit-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -moz-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -o-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	display: block;
	padding: 20px;
	font-size: 0.8em;
	line-height: 1.5em;
}
.team {
	border-left: 1px solid rgb(220,220,220);
	float: left;
	min-height: 455px;
	padding: 20px 0;
	text-align: center;
	width: 24.5%;
}
.team.last {
	border-right: 1px solid rgb(220,220,220);
}
.copyright {
	color: #96C8E6;
	float: left;
	font-size: 0.8em;
	padding: 10px;
}
.social-wrapper {
	float: right;
}
a.social {
	background-image: url('/static/img/social.png');
	border-bottom: none;
	display: block;
	float: left;
	height: 50px;
	margin-left: 17px;
	width: 57px;
}
a.social:hover {
	background-position-y: -50px;
}
.github {
	background-position: 0 0;
	background-position-x: 0;
}
.github:hover {
	background-position: 0 -50px;
}
.twitter {
	background-position: -57px 0;
	background-position-x: -57px;
}
.twitter:hover {
	background-position: -57px -50px;
}
.facebook {
	background-position: -114px 0;
	background-position-x: -114px;
}
.facebook:hover {
	background-position: -114px -50px;
}
.angel {
	background-position: -171px 0;
	background-position-x: -171px;
}
.angel:hover {
	background-position: -171px -50px;
}
.linkedin {
	background-position: -228px 0;
	background-position-x: -228px;
}
.linkedin:hover {
	background-position: -228px -50px;
}
