@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/*
 * Globals - including forum
 */

/* Links */
a,
a:focus,
a:hover {
	color: rgb(55,135,190);
	text-decoration: none;
}
p a {
	border-bottom: 2px solid rgb(55,135,190);
}

::-moz-selection {background-color: rgb(55,135,190);}
::-webkit-selection {background-color: rgb(55,135,190);}
::selection {background-color: rgb(55,135,190);}
::-moz-selection {color: #f8f8f8;}
::-webkit-selection {color: #f8f8f8;;}
::selection {color: #f8f8f8;;}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
}
.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    color: rgb(14,14,14);
	margin: 0;
	padding: 0;
}
body {
    background-color: transparent;
    background: -webkit-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%)  no-repeat top center fixed;
	background: -moz-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%) no-repeat top center fixed;
	background: -o-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%) no-repeat top center fixed;
	background: linear-gradient(to bottom left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%) no-repeat top center fixed;
	font-family: 'Lato', sans-serif;
    text-align: center;
	font-size: 18px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
h2 {
    font-size: 23px;
    margin: 1em 0 0.6em 0;
}
.site-wrapper {
    padding-bottom: 40px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.bg-blue {
	color: rgb(240, 240, 240);
	background-image: -webkit-linear-gradient(to bottom left, rgba(54, 133, 188, 0.85) 0%, rgba(33, 82, 116, 0.85) 100%);
	background-image: -moz-linear-gradient(to bottom left, rgba(54, 133, 188, 0.85) 0%, rgba(33, 82, 116, 0.85) 100%);
	background-image: -o-linear-gradient(to bottom left, rgba(54, 133, 188, 0.85) 0%, rgba(33, 82, 116, 0.85) 100%);
	background-image: linear-gradient(to bottom left, rgba(54, 133, 188, 0.85) 0%, rgba(33, 82, 116, 0.85) 100%);
}
.textured {
	background: url(../img/bg_home.png) no-repeat bottom center;
}


/*
 * Header
 */

.masthead, .d-header {
    background: linear-gradient(to top, rgba(241,241,241, 0) 0%, rgba(241,241,241, 0) 87%, rgba(241,241,241, 0.9) 92%) no-repeat top center fixed;
}
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding: 26px 0;
    font-size: 16px;
    font-weight: bold;
    color: rgba(14,14,14,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-nav > li > a.active {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(7,7,7,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: rgb(14,14,14);
    border-bottom-color: rgb(14,14,14);
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Content
 */

.page-content,
.posts {
    background-color: rgb(241,241,241);
    background-color: rgba(241,241,241,0.7);
    text-align: left;
}

/*
 * Footer
 */
 
.foot {
	background-image: linear-gradient(to bottom left, rgba(21, 21, 21, 0.5) 0%, rgba(21, 21, 21, 1) 80%);
}

.foot .col p {
	color: rgb(180,180,180);
	margin-bottom: 5px;
}
.foot .col a {
	color: rgb(241,241,241);
	border-bottom: none;
}
.foot .col a:hover {
	color: rgb(55, 135, 190);
	border-bottom: 2px solid rgb(55, 135, 190);
}

.clone-us {
    color: rgba(255,255,255,.5);
}
.copyright {
    color: rgb(140, 140, 140);
    font-size: 14px;
    padding: 10px;
}
.copyright a {
	color: rgb(241,241,241);
}
.copyright a:hover {
	border-bottom: 1px solid rgb(241, 241, 241);
}
.social-wrapper {
    margin: 20px auto;
    width: 260px;
}
a.social {
	background-image: url('/static/img/social.png');
	border-bottom: none;
	display: block;
	float: left;
	height: 50px;
	margin-left: 8px;
	width: 57px;
}
a.social:hover {
	background-position-y: -50px;
}
.github {
	background-position: 0 0;
	background-position-x: 0;
}
.github:hover {
	background-position: 0 -50px;
}
.twitter {
	background-position: -57px 0;
	background-position-x: -57px;
}
.twitter:hover {
	background-position: -57px -50px;
}
.facebook {
	background-position: -114px 0;
	background-position-x: -114px;
	margin-left: 0;
}
.facebook:hover {
	background-position: -114px -50px;
}
.angel {
	background-position: -171px 0;
	background-position-x: -171px;
}
.angel:hover {
	background-position: -171px -50px;
}
.linkedin {
	background-position: -228px 0;
	background-position-x: -228px;
}
.linkedin:hover {
	background-position: -228px -50px;
}
.foot .row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
}

/*
 * Pages
 */
 
.faqs h2 {
    padding-top: 60px;
}
.faqs h3 {
    padding-top: 90px;
    margin-top: -40px;
}
ol.faq-list ul {
    padding: 15px 20px;
}
ol.faq-list ul li {
    list-style-type: disc;
    padding: 3px 0;
}
ol.faq-list ul a,
.nav-pills a {
    border-bottom: none;
}

.team-container .row {
    margin-bottom: 20px;
}

/*
 * Components
 */
 
.center {
    margin: 0 auto;
    display: block;
    width: 150px;
}
 
.page-container img {
    max-width: 100%;
    padding: 15px 0;
}

.clone-us p {
    line-height: 1.2em;
}

a.icon {
    border-bottom: none;
    opacity: 0.5;
}
a.icon:hover {
    opacity: 1;
}
 
.nav-pills {
    margin-bottom: 20px;
}
.nav-pills li {
    width: 100%;
}
.nav-pills>li>a {
    padding: 5px 14px;
}

.list-group-item {
    background-color: rgb(241, 241, 241);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(221, 221, 221);
}

input,
a.cta{
	float: left;
	padding: 10px 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-right: 5px;
	font-size: 18px;
	color: black;
}
input[type="button"],
input[type="submit"],
.blue,
.nav-pills>li.active>a, .nav-pills>li>a:hover, .nav-pills>li.active>a:focus,
.panel .btn,
.btn-primary,
a.cta{
	background-color: rgb(55,135,190);
	color: rgb(240,240,240);
	background-image: -webkit-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -moz-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -o-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: linear-gradient(to bottom left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
}
input[type="button"],
input[type="submit"],
a.cta{
	border-width: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding: 11px 20px;
	text-decoration: none;
}
input[type="button"]:hover,
input[type="submit"]:hover,
.panel .btn:hover,
.btn-primary:hover,
a.cta:hover{
	background-color: rgb(90,160,210);
	color: rgb(255,255,255);
}
input[type="text"],
input[type="email"] {
	border: 1px solid #E7E7E7;
}

a.cta {
	display: block;
	float: none;
	margin: 20px 0 40px 0;
	text-align: center;
}

.subscribe {
    width: 235px;
}

code {
	background-color: rgb(72,72,72);
	color: rgb(240,240,240);
	background-image: -webkit-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -moz-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	background-image: -o-linear-gradient(top left, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.2) 75%, rgba(0,0,0, 0.4) 100%);
	display: block;
	padding: 20px 4%;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.5em;
	width: 100%;
}

.fork-github {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0;
	z-index: 99999999;
}

/*
 * Affix and center
 */
 
.page-container {
    margin-right: auto;
    margin-left: auto;
}
.mastfoot {
    margin: 24px 0;
    padding: 0px 0 13px 0;
    position: relative;
}

@media (min-height: 760px) and (min-width: 768px) {
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
  }

  h2 {
      font-size: 30px;
  }

  .page-container {
     width: 700px;
  }

    .top-content {
        margin-top: 150px;
    }
  .nav-pills li {
    width: auto;
  }
    .subscribe {
        width: auto;
    }
  .fork-github {
	top: 0;
	left: 0;
   }
   .mastfootinner {
        margin: 0 auto;
        width: 412px;
    }
  .h100 {
    height: 100%;
  }
}

@media (min-height: 760px) and (min-width: 992px) {
  .mastfoot,
  .page-container {
    width: 700px;
  }
  .fork-github {
	  position: fixed;
  }
}
