{% extends "base.html" %}

{% block top-content %}
    <h1>Blog</h1>
{% endblock %}

{% block content %}
<ul>
    {% for post in posts %}
        <li>
            <b><a href='/{{ post.path }}'>{{ post.title }}</a></b>
            by {{ post.author }}
        </li>
    {% endfor %}
        <li>
            <b><a href='/posts/2015-01-02-richard-brown-advises-hyperledger.html'>Richard Gendal Brown Joins the Hyperledger Advisory Board</a></b>
            by Dan O'Prey
        </li>
        <li>
            <b><a href='/posts/2014-10-23-tim-swanson-and-meher-roy-join-hyperledger.html'>Tim Swanson and Meher Roy Join Hyperledger</a></b>
            by Dan O'Prey
        </li>
</ul>

{% endblock %}
