{% extends "site.html" %}

{% block nav-blog %}<strong class="nav-active">Blog</strong>{% endblock %}

{% block content %}

<div class="bg-grey-dark"><div class="cover-container">
<ul class="blog-posts">
    {% for post in posts %}
    <li> 
    <h5><a class="blocklink" href='{% url '/' %}{{ post.path }}'><img src="/static/img/{{ post.authimg }}" class="authimg"/> {{ post.title }}</a></h3>
    </li>
    {% endfor %}
</ul>
</div></div>

<div class="cover-container">
    <div class="inner">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <img src="/static/img/q-terrence.png">
            </div>
            <div class="col-xs-12 col-md-7 text-right">
                <blockquote>I love the singular focus on ledgers. This could be huge.</blockquote>
                <p><a href="https://twitter.com/YangTerrence" target="_blank">Terrence Yang</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
