{% extends "base.html" %}
{% block top-content %}

          <div class="cover">
            <h1 class="cover-heading">Contact Us</h1>
            <p class="lead">Get in touch</p>
          </div>
        
{% endblock %}

{% block content %}
     <p>You can email the founders directly:</p>
     <p>Dan: <a href="mailto:do@hyperledger.com">do@hyperledger.com</a></p>
     <p>Daniel: <a href="mailto:df@hyperledger.com">df@hyperledger.com</a></p>
     <p>or get us both at <a href="mailto:contact@hyperledger.com">contact@hyperledger.com</a></p>
     <p>We're also very active on <a href="http://twitter.com/hyperledger">twitter</a></p>
{% endblock %}
