{% extends "base.html" %}
{% block top-content %}

          <div class="cover">
            <h1 class="cover-heading">Contact Us</h1>
            <p class="lead">Get in touch</p>
          </div>
        
{% endblock %}

{% block content %}
     <p>You can contact the founders directly:</p>
     <p>Start a discussion on the <a href="http://forum.hyperledger.com/" title="hyperledger forum">hyperledger forum</a>
     <p>Dan (business): <a href="mailto:do@hyperledger.com">do@hyperledger.com</a> or <a href="https://twitter.com/danoprey/">twitter</a></p>
     <p>Daniel (technical): <a href="mailto:df@hyperledger.com">df@hyperledger.com</a> or <a href="https://twitter.com/auxilit">twitter</a></p>
     <p>or get us both at <a href="mailto:team@hyperledger.com">team@hyperledger.com</a></p>
     <p>We're also very active on <a href="http://twitter.com/hyperledger">twitter</a></p>
     
     
     
     <h2>The Team</h2>
            <div class="container-fluid team-container">
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img src="/static/img/danielfeichtinger.png" class="center"  />
		            <h3>Daniel Feichtinger</h3>
		            <h4>Hong Kong</h4>
		            <p>Daniel is the core developer and inventor of the distributed consensus mechanism. He’s passionate about private currencies and computer security.</p>
		            <a href="http://www.linkedin.com/in/danielfeichtinger" class="linkedin social"></a>
		            <a href="https://github.com/DanielFeichtinger" class="github social"></a>
		            <a href="https://twitter.com/auxilit" class="twitter social"></a>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img src="/static/img/danoprey.png" class="center"  />
                    <h3>Dan O'Prey</h3>
		            <h4>Beijing</h4>
		            <p>Dan is responsible for marketing and business development. He previously was the founder and CEO of a Sequoia backed cloud startup in China.</p>
		            <a href="http://cn.linkedin.com/in/danoprey/" class="linkedin social"></a>
		            <a href="https://github.com/danoprey" class="github social"></a>
		            <a href="http://twitter.com/danoprey" class="twitter social"></a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img src="/static/img/logo.png" class="center" />
		            <h3>The Team</h3>
		            <p>hyperledger is a young project with world changing goals. You can help shape the future of the platform and global financial system.</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img src="/static/img/you.png" class="center"  />
		            <h3>You?</h3>
		            <p>You can contribute to the hyperledger source code on <a href="https://www.github.com/hyperledger">GitHub</a> or email <a href="mailto:contact@hyperledger.org">contact@hyperledger.org</a> to apply to join the team.</p>
                  </div>
              </div>
            </div>
{% endblock %}
