{% extends "base.html" %} {% block top-content %}

<div class="cover">
    <h1 class="cover-heading">FAQs</h1>
    <p class="lead">Something not covered here?</p>
    <p class="lead">
        <a href="/contact.html" class="btn btn-lg btn-default">Contact us</a>
    </p>
</div>

{% endblock %} {% block content %}
<div class="faqs">
    <ol class="faq-list">
        <li>General</li>
        <ul>
            <li><a href="#whatis">What is hyperledger?</a>
            </li>
            <li><a href="#opensource">Is hyperledger open source?</a>
            </li>
            <li><a href="#altcoin">Is hyperledger an alt coin?</a>
            </li>
            <li><a href="#owncurrency">Does hyperledger have its own currency?</a>
            </li>
            <li><a href="#pow">Does hyperledger use proof of work or mining?</a>
            </li>
            <li><a href="#company">Is hyperledger a company?</a>
            </li>
            <li><a href="#contribute">How can I contribute?</a>
            </li>
        </ul>
        <li>Consensus</li>
        <ul>
            <li><a href="#hackednode">What happens if one of the consensus nodes gets hacked?</a>
            </li>
            <li><a href="#51percent">Is hyperledger vulnerable to a 51% attack?</a>
            </li>
            <li><a href="#pooltypes">What are the different pools?</a>
            </li>
            <li><a href="#anyonepool">Can anyone start their own pool?</a>
            </li>
            <li><a href="#nodeowner">Who will run the consensus nodes?</a>
            </li>
            <li><a href="#pooltrust">Do I have to trust the consensus pool?</a>
            </li>
            <li><a href="#oneserver">Could I run a hyperledger pool on a single server like a private database?</a>
            </li>
            <li><a href="#nodeincentive">What incentive is there to run a consensus node in the mainpool?</a>
            </li>
            <li><a href="#noderequirement">What’s the requirement to run a consensus node?</a>
            </li>
            <li><a href="#spam-ddos">How do you prevent SPAM/DDoS Attacks?</a>
            </li>
            <li><a href="#consensusspeed">How quickly is consensus achieved?</a>
            </li>
        </ul>
        <li>Ledgers</li>
        <ul>
            <li><a href="#blockchain">Does hyperledger use a Blockchain?</a>
            </li>
            <li><a href="#oneledger">Is there only one big ledger?</a>
            </li>
            <li><a href="#onecurrencyperledger">Can only one currency be issued on a single ledger by a single entity?</a>
            </li>
            <li><a href="#anyonestart">Can anyone start a ledger?</a>
            </li>
            <li><a href="#conflict">What if there are two ledgers with the same name in different pools?</a>
            </li>
            <li><a href="#currencyonly">Does a ledger have to be used for a currency?</a>
            </li>
            <li><a href="#defaltionary">Are currencies on hyperledger fixed issuance?</a>
            </li>
            <li><a href="#hacker">What’s to stop a consensus node/hacker changing balances in a ledger?</a>
            </li>
        </ul>
        <li>Transactions</li>
        <ul>
            <li><a href="#tps">How many transactions per second are possible?</a>
            </li>
            <li><a href="#reversible">Are transactions reversible?</a>
            </li>
            <li><a href="#private">Are transactions private?</a>
            </li>
            <li><a href="#anonymous">Are transactions anonymous?</a>
            </li>
            <li><a href="#txfees">Are there any transaction fees?</a>
            </li>
            <li><a href="#doublespend">How do you prevent double spending?</a>
            </li>
            <li><a href="#confirmation">How long before a transaction is complete?</a>
            </li>
            <li><a href="#verified">How can a transaction be verified?</a>
            </li>
            <li><a href="#downloadledger">Do I need to download a copy of the ledger to verify payments?</a>
            </li>
        </ul>
        <li>How does it compare to...</li>
        <ul>
            <!--<li><a href="#bitcoin">Bitcoin</a></li>-->
            <li><a href="#ripple">Ripple</a>
            </li>
            <!--<li><a href="#fiat">Fiat money</a></li>-->
        </ul>
    </ol>


    <h2>1. General</h2>

    <h3 id="whatis">What is hyperledger?
        <a class="icon" href="#whatis">
            <span class="glyphicon glyphicon-link"></span>
        </a>
    </h3>

    <p>Hyperledger is an open source platform for creating private currencies. Anyone can create a ledger, and issue units to it as they wish. The system guarantees that transfers between accounts are always correct (no account can have a negative balance). While control over the issuance is centralised in one party, the system as a whole is decentralised. There are a number of nodes connected to each other in the consensus pool. Every request to one of them is broadcast to all the others. Once a critical number of nodes (more than two thirds) agree that the message is correct, the message is considered committed.</p>

    <h3 id="opensource">Is hyperledger open source?
        <a class="icon" href="#opensource">
            <span class="glyphicon glyphicon-link"></span>
        </a>
    </h3>

    <p>Yes, both the hyperledger server and client are completely open source and can be found on github at:</p>
    <p><a href="https://github.com/hyperledger/hyperledger-server">hyperledger/hyperledger-server</a>
    </p>
    <p><a href="https://github.com/hyperledger/hyperledger-cli">hyperledger/hyperledger-cli</a>
    </p>
    <p>Both are released under the <a href="http://www.opensource.org/licenses/MIT">MIT License</a>.

        <h3 id="altcoin">Is hyperledger an alt coin?
            <a class="icon" href="#altcoin">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </h3>

        <p>No, hyperledger is not a fork/clone/derivative of Bitcoin or its derivatives. It is an open source platform for the creation of currencies or assets.</p>

        <h3 id="owncurrency">Does hyperledger have its own currency?
            <a class="icon" href="#owncurrency">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </h3>

        <p>No, hyperledger does not have its own designated currency or bridge currency. All currencies in the same hyperledger consensus pool are of equal stature.</p>

        <h3 id="pow">Does hyperledger use proof of work or mining?
            <a class="icon" href="#pow">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </h3>

        <p>No, hyperledger does not use Proof of Work or mining, instead it relies on achieving consensus through a mechanism based on the Practical Byzantine Fault Tolerance algorithm.</p>

        <h3 id="company">Is hyperledger a company?
            <a class="icon" href="#company">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </h3>

        <p>No, hyperledger is the name of the open source project that is not controlled by any single commercial entity.</p>

        <h3 id="contribute">How can I contribute?
            <a class="icon" href="#contribute">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </h3>

        <p>Jump in on <a href="https://github.com/organizations/hyperledger">github</a> or email us at <a href="mailto:contact@hyperledger.com">contact@hyperledger.com</a>
            <p>


                <h2>2. Consensus</h2>

                <h3 id="hackednode">What happens if one of the consensus nodes gets hacked?
                    <a class="icon" href="#hackednode">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </h3>

                <p>If a node gets hacked there are only a few ways it can impact the system, but it can’t force good nodes to accept forged transfers. Generally, individual bad nodes will quickly be automatically identified and expelled from the consensus pool.</p>

                <h3 id="51percent">Is hyperledger vulnerable to a 51% attack?
                    <a class="icon" href="#blockchain">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </h3>

                <p>hyperledger does not use Proof of Work mining and so is not vulnerable to the possibility of mining pools obtaining more than half the network. However, consensus in an asynchronous system with potentially malicious nodes requires greater than 2/3rds of the nodes to be honest but since bad nodes are automatically detected and expelled quickly, we don’t believe this is an issue.</p>

                <h3 id="pooltypes">What are the different pools?
                    <a class="icon" href="#pooltypes">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </h3>

                <p>
                    <em>testpool</em>is a totally open free for all where anyone can contribute a consensus node and do testing on their ledgers.
                    <p>
                        <em>mainpool</em>is the primary global pool which will be supported by the wider community but there will be community determined restrictions on joining.</p>
                    <p>
                        <em>premiumpool</em>is a commercially supported pool with stricter requirements to join, including a membership subscription fee.</p>

                    <h3 id="anyonepool">Can anyone start their own pool?
                        <a class="icon" href="#anyonepool">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Yes. hyperledger is an open protocol with open source implementations and anyone is welcome to create their own pools, although they will lose some of the benefit of larger shared infrastructure.</p>

                    <h3 id="nodeowner">Who will run the consensus nodes?
                        <a class="icon" href="#nodeowner">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Consensus pools will probably have different requirements for node membership, but in the mainpool anyone with an interest in helping the platform and the capability to do so can run a consensus node.</p>

                    <h3 id="pooltrust">Do I have to trust the consensus pool?
                        <a class="icon" href="#pooltrust">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Consensus pools are made up of multiple entities, so collusion is highly unlikely, but you can also trace and verify all transactions yourself, if you so desire.</p>

                    <h3 id="oneserver">Could I run a hyperledger pool on a single server like a private database?
                        <a class="icon" href="#oneserver">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Yes, although you’d lose a lot of the benefits both in terms of resiliency and security.</p>

                    <h3 id="nodeincentive">What incentive is there to run a consensus node in the mainpool?
                        <a class="icon" href="#nodeincentive">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Anyone with an interest in seeing the pool be successful (e.g. ledger owners, exchanges, etc.) would have an incentive to run a node and its possible that some consensus pools could make it a requirement for running a ledger, for example.</p>

                    <h3 id="noderequirement">What’s the requirement to run a consensus node?
                        <a class="icon" href="#noderequirement">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>This is still an open question. We want to keep it as accessible as possible but with some sort of nominal entry requirement to prevent control over a high percentage of the network. Different pools will almost definitely have different requirements.</p>

                    <h3 id="spam-ddos">How do you prevent SPAM/DDoS Attacks?
                        <a class="icon" href="#spam-ddos">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>We will monitor the pool to see what kind of attacks the system comes under, but there are a number of methods than can be used to defend the system, including blacklisting clients and rate limiting. hyperledger is built on top of standard web technologies and so protecting the overall system is similar to any other distributed application.</p>

                    <h3 id="consensusspeed">How quickly is consensus achieved?
                        <a class="icon" href="#consensusspeed">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>That can depend on the size of the pool and volume of transactions, but it normally takes less than a few seconds.</p>


                    <h2>3. Ledgers</h2>

                    <h3 id="blockchain">Does hyperledger use a Blockchain?
                        <a class="icon" href="#blockchain">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>No, hyperledger uses a known set of nodes to agree on requests and sign the responses. The mechanism is based on the Practical Byzantine Fault Tolerance algorithm.</p>

                    <h3 id="oneledger">Is there only one big ledger?
                        <a class="icon" href="#oneledger">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>No, a hyperledger pool contains multiple ledgers, which can be opened by anyone who then has control over the units in that ledger. Anyone can then open an account in that ledger (in the mainpool).</p>

                    <h3 id="oneledgerpercurrency">Can only one currency be issued on a single ledger by a single enti ty?
                        <a class="icon" href="#onecurrencyperledger">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Yes, each ledger can only contain one asset type and all accounts on this ledger can only contain that one asset type. Each ledger can only have one primary account, although theoretically you could allow multiple entities to have access to that account.</p>

                    <h3 id="anyonestart">Can anyone start a ledger?
                        <a class="icon" href="#anyonestart">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Yes. There are no restrictions on creating ledgers in the mainpool.</p>

                    <h3 id="conflict">What if there are two ledgers with the same name in different pools?
                        <a class="icon" href="#conflict">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>This is an open question up for discussion.</p>

                    <h3 id="currencyonly">Does a ledger have to be used for a currency?
                        <a class="icon" href="#currencyonly">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>No, a ledger can be used to record anything that has a fixed number of units, for example shares in a company, vouchers, phone credit, or equity in a property.</p>

                    <h3 id="defaltionary">Are currencies on hyperledger fixed issuance?
                        <a class="icon" href="#defaltionary">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>The issuing rules of the currency are determined by the entity that opens the ledger.</p>

                    <h3 id="hacker">What’s to stop a consensus node/hacker changing balances in a ledger?
                        <a class="icon" href="#hacker">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>The balances on accounts in the system are computed from a list of transfers, which are signed by the account private key holder. If the attacker cannot get hold of this, they cannot forge transfers in the system.</p>


                    <h2>4. Transactions</h2>

                    <h3 id="tps">How many transactions per second are possible?
                        <a class="icon" href="#tps">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>We haven’t fully load-tested the system yet, but we believe it’s capable of a few thousand transactions per second.</p>

                    <h3 id="reversible">Are transactions reversible?
                        <a class="icon" href="#reversible">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>No, at the moment all transactions are final, but it is possible that new pools in the future could enable reversible transactions.</p>

                    <h3 id="private">Are transactions private?
                        <a class="icon" href="#private">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>At the moment all transactions are published openly, however, in the future there may be consensus pools that do keep transactions private.</p>

                    <h3 id="anonymous">Are transactions anonymous?
                        <a class="icon" href="#anonymous">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>Transactions are pseudonymous, as they are in Bitcoin.</p>

                    <h3 id="txfees">Are there any transaction fees?
                        <a class="icon" href="#txfees">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>There are no transaction fees built into the system, but consensus pools may have their own rules.</p>

                    <h3 id="doublespend">How do you prevent double spending?
                        <a class="icon" href="#doublespend">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>The consensus pool sorts all transfers into an agreed order and completes transfers as long as there’s an available balance. Due to the ordering of transactions, any attempt to double spend will result in the second transaction failing.</p>

                    <h3 id="confirmation">How long before a transaction is complete?
                        <a class="icon" href="#confirmation">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>That can depend on the state of the system but a transaction should complete in a few seconds at most.</p>

                    <h3 id="verified">How can a transaction be verified?
                        <a class="icon" href="#verified">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>All transfers are returned with a list of the signatures from the consensus nodes. The nodes publish their public key so the signatures can be checked.</p>

                    <h3 id="downloadledger">Do I need to download a copy of the ledger to verify payments?
                        <a class="icon" href="#downloadledger">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>No, the transactions are verified on the consensus pool nodes, so once you receive notified that it is successful you don’t need to verify it against a local copy.</p>


                    <h2>5. How does it compare to…</h2>

                    <!--<h3 id="bitcoin">Bitcoin <a class="icon" href="#bitcoin"><span class="glyphicon glyphicon-link"></span></a></h3>
    
    <p></p>-->

                    <h3 id="ripple">Ripple
                        <a class="icon" href="#ripple">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>
                    </h3>

                    <p>hyperledger can be seen as an alternative or complementary system to Ripple, depending on what you are hoping to achieve.</p>

                    <p>Ripple is centered around trusted lines of credit between entities and finding least-cost paths through that trust graph to settle transactions, possible in different currencies. hyperledger’s aim is to allow private entities to easily create a new currency and have precise control over the issuance of units of that money.</p>

                    <p>hyperledger also has a distinct notion of consensus pools, which, while adhering to the same protocol, may have different rules about membership and privacy.</p>

                    <p>hyperledger does not have a special currency to use the system.</p>

                    <p>On a more technical level, hyperledger is aiming for a slightly different consensus scheme based on PBFT and ordering each request to the system, rather than Ripple’s method of ‘Continuous Ledger Close’. The 2 systems are closely related, however.</p>

                    <p>Note there’s a slight difference in terminology; Ripple uses ‘ledger’ to refer to a grouped set of requests to the system, whereas in hyperledger it refers to the set of accounts that use the same currency, and the records of issuances and transfers.</p>

                    <!--<h3 id="fiat">Fiat money <a class="icon" href="#fiat"><span class="glyphicon glyphicon-link"></span></a></h3>
    
    <p></p>-->

</div>
{% endblock %}
