{% extends "cover.html" %} {% block top-content %}

<div class="cover">
    <h1 class="cover-heading">The Global Internet of Value</h1>
    <h2>A decentralised ledger platform for the real world.</h2>
    <!--<h2>Hyperledger is an open-source, decentralised protocol for recording and transferring anything of value.</h2>
    <p>Create cryptographically secure tokens that can be transferred across the world in seconds, for free.</p>-->
<div class="mastfoot">
    <div class="mastfootinner">
        <form action="http://hyperledger.us8.list-manage1.com/subscribe/post?u=3220d23ed5899233e3a7fe879&amp;id=275ba466fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_3220d23ed5899233e3a7fe879_275ba466fb" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe >" name="subscribe" id="mc-embedded-subscribe" class="button subscribe">
        </form>
    </div>
</div>
</div>


{% endblock %} {% block content %}
<a name="getstarted"></a> 
<h2 class="ta-center">Get Started</h2>
<ul class="nav nav-pills" role="tablist">
    <li class="active"><a href="#install" role="tab" data-toggle="tab">Install</a>
    </li>
    <li><a href="#ledger" role="tab" data-toggle="tab">Create Ledger</a>
    </li>
    <li><a href="#issue" role="tab" data-toggle="tab">Issue Units</a>
    </li>
    <li><a href="#account" role="tab" data-toggle="tab">Create Account</a>
    </li>
    <li><a href="#transfer" role="tab" data-toggle="tab">Make Transfer</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="install">
        <code>> gem install hyperledger_cli</code>
    </div>
    <div class="tab-pane" id="ledger">
        <code>> hyperledger ledger register newcoin http://www.newcoin.org
            <br/>
            <br/>New ledger created
            <br/>name: newcoin
            <br/>url: http://www.newcoin.org
            <br/>primary account code: 9d996e0...</code>
    </div>
    <div class="tab-pane" id="issue">
        <code>> hyperledger issue 1000000 newcoin
            <br/>
            <br/>1000000 new units issued to newcoin</code>
    </div>
    <div class="tab-pane" id="account">
        <code>> hyperledger account register newcoin
            <br/>
            <br/>New account created
            <br/>code: 9dc1db...
            <br/>balance: 0</code>
    </div>
    <div class="tab-pane" id="transfer">
        <code>> hyperledger transfer 1000 9d996e0... 9dc1db...
            <br/>
            <br/>Transfer completed!</code>
    </div>
</div>
<a href="https://github.com/hyperledger" target="_blank" class="button cta subscribe">Checkout the source on GitHub</a>
<p class="disclaimer ta-center">Please note that Hyperledger is currently in <span style="color:rgb(18,18,18);">beta</span> and only available through the command line. Web wallet coming soon.</p>
</div>
</div>
</div>

<div class="bg-blue"><div class="textured">
  <div class="page-container full tab-ta-left"><div class="inner">
	<div class="row">
      <div class="col-xs-12 col-md-4">
		<div class="inner-rl ta-center">
		  <img src="/static/img/sol-cur.png"/>	
          <h2>Digital<br/>Currencies</h2>
          <p>Fiat, Private, Virtual, Payments,<br/>Loyalty Programs, Airmiles</p>
          <!--<p><a href="/solutions.html#cur">Read more</a></p>-->
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
		<div class="inner-rl ta-center">
		  <img src="/static/img/sol-com.png"/>	
          <h2>Commodities<br/> Backed Tokens</h2>
          <p>Gold, Silver, Diamonds,<br/>Agriculture, Energy</p>
          <!--<p><a href="/solutions.html#com">Read more</a></p>-->
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
		<div class="inner-rl ta-center">
		  <img src="/static/img/sol-fin.png"/>	
          <h2>Financial<br/>Instruments</h2>
          <p>Private stock registry, Futures,<br/>Options, Bonds, CFDs</p>
          <!--<p><a href="/solutions.html#fin">Read more</a></p>-->
        </div>
      </div>
    </div>
  </div></div>
</div></div>

<div class="page-container-wrap">
<div class="page-container">
    <div class="inner desk-padded bg-white em-large">
        <h2 class="ta-center">Revolutionising Finance</h2>
            <p>Hyperledger is a decentralised asset registry. By securely replicating ledgers across nodes owned by multiple known entities, availability and data integrity can be ensured. No single entity has the power to manipulate data on the ledgers without the consent of the account holders on that ledger, which is secured through advanced cryptography.</p>

        <p>This means that anyone can issue a digitally secure asset that can be held directly by end users and traded on a peer to peer basis. Hyperledger's great flexibility allows ledger owners variable control over accounts and transfers on that ledger: you can create a public, international ledger open to anyone, right down to a private ledger in a specific country that only pre-approved account holders can join.</p>
    </div>
</div>
</div>

<div class="bg-blue">
    <div class="textured">
        <div class="page-container full tab-ta-left">
            <div class="inner">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="inner-rl">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 tab-full tab-ta-center">
                                    <img src="/static/img/fea-free.png" />
                                </div>
                                <div class="col-xs-12 col-md-8 tab-full tab-ta-center">
                                    <h2>Free</h2>
                                    <p>Zero cost to transfer assets inside the network. Completely free to create new assets. Completely free to deploy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="inner-rl">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 tab-full tab-ta-center">
                                    <img src="/static/img/fea-instant.png" />
                                </div>
                                <div class="col-xs-12 col-md-8 tab-full tab-ta-center">
                                    <h2>Instant</h2>
                                    <p>No long confirmation times. No waiting for ledgers to close. Transactions are confirmed in less than a second, not minutes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="inner-rl">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 tab-full tab-ta-center">
                                    <img src="/static/img/fea-flexible.png" />
                                </div>
                                <div class="col-xs-12 col-md-8 tab-full tab-ta-center">
                                    <h2>Flexible</h2>
                                    <p>Consensus pools can have their own membership requirements. Sub-pools can be created in just one jurisdiction.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="inner-rl">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 tab-full tab-ta-center">
                                    <img src="/static/img/fea-open.png" />
                                </div>
                                <div class="col-xs-12 col-md-8 tab-full tab-ta-center">
                                    <h2>Open</h2>
                                    <p>Not controlled by any single company. Completely open source. No pre-allocated native currency built in to the protocol.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="inner-rl">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 tab-full tab-ta-center">
                                    <img src="/static/img/fea-efficient.png" />
                                </div>
                                <div class="col-xs-12 col-md-8 tab-full tab-ta-center">
                                    <h2>Efficient</h2>
                                    <p>Capable of processing tens of thousands of transactions per second without energy and computationally expensive mining.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="inner-rl">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 tab-full tab-ta-center">
                                    <img src="/static/img/fea-simple.png" />
                                </div>
                                <div class="col-xs-12 col-md-8 tab-full tab-ta-center">
                                    <h2>Simple</h2>
                                    <p>A straightforward HTTP service that is easy to use and deploy. Integrate with all your favourite libraries and web services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="textured"><div class="page-container"><div class="inner">
    <h2>The Team</h2>
    <div class="container-fluid team-container team-home">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="/static/img/danielfeichtinger.png" class="center" />
                <h3>Daniel Feichtinger</h3>
                <h5>CTO</h5>
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="/static/img/danoprey.png" class="center" />
                <h3>Dan O'Prey</h3>
                <h5>CEO</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4 mt-up">
                <img src="/static/img/q-meher.png" class="center" />
                <h3>Meher Roy</h3>
                <h5>Community</h5>
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 mt-up">
                <img src="/static/img/timswanson.png" class="center" />
                <h3>Tim Swanson</h3>
                <h5>adviser</h5>
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4 mt-up">
                <img src="/static/img/richardbrown.png" class="center" />
                <h3>Richard G Brown</h3>
                <h5>adviser</h5>
            </div>
        </div>
        <a href="/contact.html" class="button cta">Learn more about the team</a>
    </div>
</div></div></div>

<div class="bg-blue">
    <div class="textured">
        <div class="page-container full tab-ta-left">
            <div class="inner">
            <h2 class="ta-center mt-0">From the Blog</h2>
            <ul class="blogroll">
                {% for post in posts %}
                    <li> 
                        <a href='/{{ post.path }}'>{{ post.title }}</a>
                    </li>
                {% endfor %}
                    <li> 
                        <a href='/posts/2015-02-14-the-myth-of-a-cheaper-bitcoin-network.html'>The myth of a cheaper Bitcoin network</a>
                    </li>
                    <li> 
                        <a href='/posts/2015-02-12-a-simple-model-for-smart-contracts.html'>A Simple Model for Smart Contracts</a>
                    </li>
                    <li> 
                        <a href='/posts/2015-02-09-hyperledger-wins-bank-innovation-demovation-challenge-2015.html'>Hyperledger Wins Bank Innovation DEMOvation Challenge 2015</a>
                    </li>
                    <li> 
                        <a href='/posts/2015-02-09-a-model-to-make-sense-of-beliefs-and-associated-crypto-finance-platoforms.html'>A model to make sense of beliefs and associated Crypto-finance platforms</a>
                    </li>
                    <li> 
                        <a href='/posts/2015-01-12-block-chain-application-stack.html'>Is ‘The Block-chain Application Stack’ a probable or improbable future?</a>
                    </li>
            </ul> 
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="page-container">
        <div class="inner">
            <h2 class="ta-center mt-0">Learn More</h2>
            <a href="#getstarted" class="button cta button-list">Try out hyperledger</a>
            <a href="https://github.com/hyperledger" target="_blank" class="button cta button-list">Checkout the source on GitHub</a>
            
            <br/>

        </div>
    </div>
</div>

<div class="page-content quotes">
    <div class="page-container full">
        <div class="inner-rl">
            <div id="slideshow">
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <img src="/static/img/q-jackson.png">
                        </div>
                        <div class="col-xs-12 col-md-7 quote-text">
                            <p class="quote"><em>When you asked me what I think the future of crypto looks like, this is
                            one of the projects that comes to mind.</em></p>
                            <p><a href="https://twitter.com/ummjackson" target="_blank">Jackson Palmer</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <img src="/static/img/q-faisal.png">
                        </div>
                        <div class="col-xs-12 col-md-7 quote-text">
                            <p class="quote"><em>Looked at Hyperledger. What a beautiful beautiful concept/project. I really like it. So much potential.</em></p>
                            <p><a href="https://twitter.com/babushka99" target="_blank">Faisal Khan</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <img src="/static/img/q-terrence.png">
                        </div>
                        <div class="col-xs-12 col-md-7 quote-text">
                            <p class="quote"><em>I love the singular focus on ledgers. This could be huge.</em></p>
                            <p><a href="https://twitter.com/YangTerrence" target="_blank">Terrence Yang</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <img src="/static/img/q-rr.png">
                        </div>
                        <div class="col-xs-12 col-md-7 quote-text">
                            <p class="quote"><em>I really like hyperledger. Distributed consensus ledger minus mining/speculation or capitalization baggage.</em></p>
                            <p><a href="https://twitter.com/rr" target="_blank">Randy Reddig</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <img src="/static/img/timswanson.png">
                        </div>
                        <div class="col-xs-12 col-md-7  quote-text">
                            <p class="quote"><em>Hyperledger are pioneering the consensus-as-a-service concept.</em></p>
                            <p><a href="https://twitter.com/ofnumbers" target="_blank">Tim Swanson</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
