{% extends "site.html" %}

{% block nav-install %}<strong class="nav-active">Get Started</strong>{% endblock %}

{% block cover %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <div class="row">
                    <div class="col-md-6">
                      <a href="https://github.com/hyperledger/hyperledger-server/blob/master/README.md" class="blocklink">
                        <img src="/static/img/install-hyperledger-server.png">
                        <h3>Hyper<span class="reg">ledger</span> Server</h3>
                        <p>Install a consensus node to create or join a pool</p>
                        <a href="https://github.com/hyperledger/hyperledger-server/blob/master/README.md" class="btn btn-lg btn-primary">Install</a>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a href="https://github.com/hyperledger/hyperledger-cli/blob/master/README.md" class="blocklink">
                        <img src="/static/img/install-hyperledger-cli.png">
                        <h3>Hyper<span class="reg">ledger</span> Client</h3>
                        <p>Install the command line interface and join the <strong>test</strong>pool</p>
                        <a href="https://github.com/hyperledger/hyperledger-cli/blob/master/README.md" class="btn btn-lg btn-primary">Install</a>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="bg-grey-darker"><div class="cover-container">
    <div class="inner">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <blockquote>I really like Hyperledger. Distributed consensus ledger minus mining/speculation or capitalization baggage.</blockquote>
                <p><a href="https://twitter.com/rr" target="_blank">Randy Reddig</a></p>
            </div>
            <div class="col-xs-12 col-md-5">
                <img src="/static/img/q-rr.png">
            </div>
        </div>
    </div>
</div></div>

{% endblock %}
