{% extends "base.html" %}

{% block top-content %}
    <h1>Careers</h1>
{% endblock %}

{% block content %}

<h2>Listings</h2>

<hr/>
<h3>Hyper, Inc.</h3>
<h4>San Francisco</h4>
<p>Hyper, Inc. are the creators and primary contributors to the open source Hyperledger project. We're a small, funded startup taking a pragmatic approach to revolutionising the world of finance. We believe in free and open source software and building sustainable business models based on the needs of our users. Based in the heart of San Francisco, you would be one of the first hires and would work directly with <a href="/contact.html">the founders</a> every day.</p>

<p>We don't believe in micro-management, you must be a self starter bringing your own ideas to the table and not just looking to take orders. We use tools developers love, like Git, Trello, and Slack, and put the engineering team first. We're looking for collaborators who want to take meaningful equity and be part of the team for the long term.</p> 

<p>All require:</p>
<ul>
    <li>Currently in San Francisco or already eligible to work in the US and willing to relocate</li>
    <li>Fluent in English (spoken and written)</li>
    <li>Competency with *NIX-style systems and Git</li>
    <li>Comfortable in more than one language (needn’t be fluent)</li>
    <li>Working knowledge of REST/Hypermedia</li>
    <li>Experience with TDD</li>
    <li>Able to document their work</li>
    <li>Able to communicate well in a team environment</li>
</ul>

<div class="job">
<h4>> Front End Eng</h4>
<code class="mb-20">
<ul>
<li>4+ years Javascript experience</li>
<li>Proven deployments of rich JS front-ends (Ember, Angular, Meteor, Ampersand)</li>
<li>The ability to design responsive applications that work across desktop and mobile</li>
<li>A strong understanding of UX principles and their application</li>
<li>Evidence of native mobile development a plus</li>
</ul>
</code>
<p>Introduce yourself to <a href="mailto:team@hyperledger.com">team@hyperledger.com</a></p>
</div>

<div class="job">
<h4>> Senior Back End Eng</h4>
<code>
<ul>
<li>5+ years industry experience</li>
<li>Knowledge of Elixir/Erlang</li>
<li>Proven deployments of distributed systems</li>
<li>Excellent knowledge of database management, both relational and key-value</li>
<li>Proven experience of automating operations</li>
<li>Working understanding of cryptography and key management</li>
</ul>
</code>
<p>Introduce yourself to <a href="mailto:team@hyperledger.com">team@hyperledger.com</a></p>
</div>

<hr/>

{% endblock %}
