{% extends "base.html" %}

{% block top-content %}
    <h1>Careers</h1>
{% endblock %}

{% block content %}

<h2>Listings</h2>

<hr/>
<h3><a href="http://www.hyperinc.co">Hyper, Inc.</a></h3>
<h4>San Francisco</h4>
<p>Hyper, Inc. are the creators and primary contributors to the open source Hyperledger project. We're a small, funded startup taking a pragmatic approach to revolutionising the world of finance. We believe in free and open source software and building sustainable business models based on the needs of our users. Based in the heart of San Francisco, you would be one of the first hires and would work directly with <a href="/contact.html">the founders</a> every day.</p>

<p>We don't believe in micro-management, you must be a self starter bringing your own ideas to the table and not just looking to take orders. We use tools developers love, like Git, Trello, and Slack, and put the engineering team first. We're looking for collaborators who want to take meaningful equity and be part of the team for the long term.</p> 

<p>You must:</p>
<ul>
    <li>Be competent with Git and *NIX-style systems</li>
    <li>Be comfortable in more than one programming language (needn’t be fluent)</li>
    <li>Have a great understanding of REST/Hypermedia</li>
    <li>Have experience of developing in a TDD style</li>
    <li>Be able to document your work and be able to communicate well with the rest of the team</li>
    <li>Be based in San Francisco, or already eligible to work there and willing to relocate</li>
    <li>Be fluent in English (spoken and written)</li>
</ul>

<div class="job">
<h4>> Front End Eng</h4>
<code class="mb-20">
<ul>
<li>4+ years Javascript experience</li>
<li>Proven deployments of rich JS front-ends (Ember, Angular, Meteor, Ampersand)</li>
<li>The ability to design responsive applications that work across desktop and mobile</li>
<li>A strong understanding of UX principles and their application</li>
<li>Evidence of native mobile development a plus</li>
</ul>
</code>
<p>This position is in San Francisco but remote will be considered if the candidate is <strong>exceptional</strong>.<br/>
Introduce yourself to <a href="mailto:team@hyperledger.com">team@hyperledger.com</a></p>
</div>

<div class="job">
<h4>> Senior Back End Eng</h4>
<code>
<ul>
<li>5+ years industry experience</li>
<li>Knowledge of Elixir/Erlang</li>
<li>Proven deployments of distributed systems</li>
<li>Excellent knowledge of database management, both relational and key-value</li>
<li>Proven experience of automating operations</li>
<li>Working understanding of cryptography and key management</li>
</ul>
</code>
<p>This position is in San Francisco but remote will be considered if the candidate is <strong>exceptional</strong>.<br/>
Introduce yourself to <a href="mailto:team@hyperledger.com">team@hyperledger.com</a></p>
</div>

<hr/>

{% endblock %}
