{% extends "html.html" %}    
    {% block header %}
    {% endblock %}
    {% block template %}
    {# TODO: commit martmotcide #}
<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="masthead no-fixed clearfix">
                <div class="page-container">
                    <div class="logo">
                        <div class="logo-inner">
                            <div class="logo-mark">
                                <a href="/">
                                    <span class="bl"></span>
                                    <span class="b"></span>
                                    <span class="tl"></span>
                                    <span class="br"></span>
                                    <span class="t"></span>
                                    <span class="trn "></span>
                                </a>
                            </div>
                            <h3 class="masthead-brand">hyperledger</h3>
                        </div>
                    </div>
                    <ul class="nav masthead-nav">
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="http://forum.hyperledger.com/category/blog">Blog</a>
                        </li>
                        <li><a href="/faqs.html">FAQs</a>
                        </li>
                        <li><a href="http://forum.hyperledger.com">Forum</a>
                        </li>
                        <li><a href="/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="top-wrapper page-container">
                <div class="top-content">
                    {% block top-content %} {% endblock %}
                </div>
            </div>

        </div>

    </div>

{% block fullcontent %}
    <div class="page-content">
        <div class="page-container">
            <div class="inner">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}
