{% extends "site.html" %}

{% block nav-blog %}<strong class="nav-active">Blog</strong>{% endblock %}

{% block content %}
<div class="bg-grey-dark"><div class="cover-container"><div class="inner">
    <header class="text-center">
        <h1>{{ title }}</h1>
        <h5><time pubdate="pubdate">{{ date|date:"F j, Y" }}</time> by <a href="/about.html#team" class="author">{{ author }}</a></h5>
        <img src="/static/img/{{ authimg }}" class="authimg"/>
    </header>
</div></div></div>
<div class="cover-container"><div class="inner">
<article>
        {% block body %}{% endblock %}
    <footer>
    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
        <form action="http://hyperledger.us8.list-manage1.com/subscribe/post?u=3220d23ed5899233e3a7fe879&amp;id=275ba466fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe" target="_blank" novalidate="">
           <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
           <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
           </div>
           <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_3220d23ed5899233e3a7fe879_275ba466fb" tabindex="-1" value="">
           </div>
           <input type="submit" value="Subscribe >" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </form>
    </footer>
</article>
</div></div>

<div class="bg-grey-dark"><div class="cover-container">
<div class="inner">
        
            <div id="disqus_thread"></div>
                <script type="text/javascript">
                        var disqus_shortname = 'hyperledger';
                                (function() {
                                             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                                         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                                                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                                             })();
    </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
</div>
</div></div>

<div class="bg-grey-darker"><div class="cover-container">
<div class="inner">
<nav>
  <div class="row">
    <div class="col-md-6">
    <span class="prev text-left">
        {% if prevPost %}
        <a class="blocklink" href='{% url '/' %}{{ prevPost.path }}'>
                &laquo; {{ prevPost.title }}
            </a>
        {% else %}
        {% endif %}
    </span>
    </div>
    <div class="col-md-6">
    <span class="next text-right">
        {% if nextPost %}
        <a class="blocklink" href='{% url '/' %}{{ nextPost.path }}'>
                {{ nextPost.title }} &raquo;
            </a>
        {% else %}
        {% endif %}
    </span>
    </div>
</nav>
</div>
</div></div>

<div class="bg-grey-darkest"><div class="cover-container">
<ul class="blog-posts">
    {% for post in posts %}
    <li> 
    <h5><a class="blocklink" href='{% url '/' %}{{ post.path }}'><img src="/static/img/{{ post.authimg }}" class="authimg"/> {{ post.title }}</a></h3>
    </li>
    {% endfor %}
</ul>

</div></div>

{% endblock %}
