{% extends "cover.html" %}

{% block header %}
   <link rel="stylesheet" href="{{ STATIC_URL }}/css/cover.css">
   <link rel="stylesheet" href="{{ STATIC_URL }}/css/presentation.css">
   <title>hyperledger - The Open Payments Protocol</title>
{% endblock %}


{% block top-content %}

    <h1>An Open Platform for Recording and Transferring Digital Assets</h1>
    
{% endblock %}

{% block content %}

<!--team-->
		<div class="slide">
          <h2>The Team</h2>
            <div class="container-fluid team-container">
              <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img src="/static/img/danoprey.png" class="center" />
                    <h3 class="center">Dan<br/>O'Prey</h3>
                    <h4 class="center">CEO</h4>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img src="/static/img/danielfeichtinger.png" class="center" />
		            <h3 class="center">Daniel<br/>Feichtinger</h3>
		            <h4 class="center">CTO</h4>
                  </div>
              </div>
            </div>
		</div>
		
	</div></div></div>
		
    <div class="page-container">
      <div class="inner">
			<div class="slide">
			<h2>The Solution</h2>
			<p>The Hyperledger Value Transfer Protocol (HVTP) is protocol designed from the ground up to enable payments for the internet age. With decentralised nodes running in multiple geographies and jurisdictions, hyperledger provides an amazingly quick, reliable and secure way to record transfers of assets such as digital currencies across the world within seconds, not minutes.</p>
		</div>
	  </div>
    </div>

		<div class="slide">
			<h2>How it works</h2>
			<p></p>
		</div>
		
	</div></div></div>
		
    <div class="page-container">
      <div class="inner">
			<div class="slide">
			<h2>Use Case: Currencies</h2>
			<p></p>
		</div>
	  </div>
    </div>

		<div class="slide">
			<h2>Use Case: Asset Registry</h2>
			<p></p>
		</div>
		
	</div></div></div>
		
    <div class="page-container">
      <div class="inner">
			<div class="slide">
			<h2>Use Case: Securities Exchange</h2>
			<p></p>
		</div>
	  </div>
    </div>

		<div class="slide">
			<h2>Use Case: Payments Network</h2>
			<p></p>
		</div>
		
	</div></div></div>
		
    <div class="page-container">
      <div class="inner">
			<div class="slide">
			<h2></h2>
			<p></p>
		</div>
	  </div>
    </div>

		<div class="slide">
			<h2></h2>
			<p></p>
		</div>
		
	</div></div></div>
		
    <div class="page-container">
      <div class="inner">
			<div class="slide">
			<h2></h2>
			<p></p>
		</div>
	  </div>
    </div>

		<div class="slide">
			<h2></h2>
			<p></p>
		</div>
		
	</div></div></div>
		
    <div class="page-container">
      <div class="inner">
			<div class="slide">
			<h2></h2>
			<p></p>
		</div>
	  </div>
    </div>
    
    
    
    
    
    
    
    
    <div class="page-content">
        <div class="page-container">
          <div class="inner">
	

			
{% endblock %}
